* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --textColor: #538099;
    --textSombra: #0F5071;
    --distanciaEntrePartes: 10rem;
    --tamanhoTitulo: 2.2rem
}

html,body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #C8E4F3;
    color: var(--textColor);
    width: 100vw;
    overflow-x:hidden;
}

h1{
    font-size: var(--tamanhoTitulo);
}

a{
    color: var(--textColor);
    text-decoration: none;
    transition: 0.1s;
}

a:hover{
    color: var(--textSombra);
    transform: scale(1.1);
}

/*HEADER*/

.iconNome{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.iconNomeImg{
    width: 45px;
}

header{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}

.containerLista{
    display: flex;
    gap: 2rem;

}

.containerLista li{
    list-style-type: none;
    font-weight: 400;
    cursor: pointer;
}

.containerLista li:hover{
    color: var(--textSombra);
    font-weight: 600;
    transform: scale(1.1);
}

/*HEADER*/

/*MAIN*/
.container2PartesMain{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12rem 2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.containerSobre p{
    font-size: 1.1rem;
}

.containerSobre h1{
    font-size: 3rem;
    font-weight: bold;
}

.btnSaibaMais{
   background-color: var(--textSombra);
   color: white;
   max-width: 300px;
   text-align: center;
   padding: 1rem 2.5rem;
   margin: 4rem 0rem;
   border-radius: 25px;
   cursor: pointer;
   transition: 0.5s;
}

.btnSaibaMais a{
    color: white;
}
 

.btnSaibaMais:hover{
    background-color: #072433;
 }

.containerSobre{
    width: 50%;
}

.imgProgramando{
    width: 100%;
}

.containerImg{
    width: 50%;
}

.containerIcons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.containerIcons img{
    width: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.containerIcons img:hover{
    transform: scale(1.2);
}

/*MAIN*/

/*containerSobreMin*/

.containerSobreMin{
    margin-top: var(--distanciaEntrePartes);
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
    text-align: initial;
    gap: 1rem;
}


strong{
    color: var(--textSombra);
}


/*containerSobreMin*/

/*tecnologias*/
.containerTecnologias{
    margin: 0 auto;
    margin-top: var(--distanciaEntrePartes);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.containerTecs{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 3rem;
    margin-bottom: 2rem;
}

.containerTecs img{
    width: 100px;
    transition: 0.5s;
}

.containerTecs img:hover{
    width: 100px;
    cursor: pointer;
    transform: scale(1.1);
}



/*tecnologias*/

/*PROJETOS*/
.containerProjetos{
    margin: 0 auto;
    margin-top: var(--distanciaEntrePartes);
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerListaProjetos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 3rem;
    margin-bottom: 2rem;
}

.containerListaProjetos img{
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.containerListaProjetos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
/*PROJETOS*/



@media (max-width:950px) {
    header{
        flex-direction: column;
        gap:1rem;
    }

    .container2PartesMain{
        padding: 5rem 2rem;
        
    }

    :root{
        --distanciaEntrePartes: 5rem;
    }
}

@media (max-width:680px) {
    .containerImg{
        display: none;
    }
    
    .containerSobre{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .btnSaibaMais{
        background-color: var(--textSombra);
        color: white;
        border: none;
        padding: 1rem 2.5rem;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        margin: 50px 0 50px 0;
        max-width: 300px;
    }
    

}